<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Gestión Municipal - @usuario {% endblock %}</title>
    {% block stylesheets %}
      {% stylesheets
      '../vendor/twbs/bootstrap/dist/css/bootstrap.min.css'
      filter='cssrewrite'
      output='css/bootstrap.min.css'
      combine=true %}
      <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

      {% stylesheets
      '../vendor/components/font-awesome/css/all.min.css'
      filter='cssrewrite'
      output='css/fontawesome.css'
      combine=true %}
          <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

      <style type="text/css">
       html {
	 position: relative;
	 min-height: 100%;
       }

       body {
	 margin-bottom: 60px;
       }

       .wrapper {
         display: flex;
         align-items: stretch;
       }

       .footer {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 60px;
       }
      </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('ico.ico') }}" />
  </head>
  <body>
    <div class="wrapper">

      <!-- Content  -->
      <div id="content" class="p-2 w-100">
        {% block body %}{% endblock %}
      </div>

    </div>

    <footer class="footer">
      <div class="container-fluid d-flex flex-column justify-content-center">
        <span class="text-muted w-25">Powered by Análisis y Desarrollo</span>
	<span class="text-muted w-25">Ilustre Municipalidad de la Florida</span>
      </div>
    </footer>

    {# read and display several types of flash messages #}
    {% for label, messages in app.session.flashBag.all %}
      {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show fixed-top">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endfor %}

    {% block javascripts %}
      {% javascripts
      '../vendor/components/jquery/jquery.min.js'
      output='js/jquery.min.js'
      combine=true %}
      <script src="{{ asset_url }}"></script>
      {% endjavascripts %}

      {% javascripts
      '../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js'
      output='js/bootstrap.bundle.min.js'
      combine=true %}
      <script src="{{ asset_url }}"></script>
      {% endjavascripts %}

      <script type="text/javascript">
       $(document).ready(function () {
	 setTimeout( function() {
           $('.alert').alert('close');
	 }, 5000);
       });
      </script>
    {% endblock %}
  </body>
</html>
