{% extends '::/Bandeja/layout2col.html.twig' %}

{% block page_title %}
<h2 class="">NUEVO DOCUMENTO</h2>
{% endblock %}

{% block filters %}
<div class="">
  <button type="submit" class="btn btn-primary" form="docForm" name="guardar" value="derivar">Guardar y Derivar</button>
  <button type="submit" class="btn btn-secondary" form="docForm" name="guardar" value="guardar">Solo Guardar</button>
</div>
{% endblock %}

{% block content %}
{{ form_start(nuevoForm, {'attr': {'class': 'row', 'id': 'docForm'}}) }}
   {{ form_widget(remitenteForm.id_depto) }}
   {{ form_widget(remitenteForm.id_persona) }}

  <div id="data" class="col">
    <div class="row">
      <div class="col-4"><h5>Buscar Remitemte</h5></div>
      <div class="col">
        <input id="buscadorRemitentes" class="form-control" type="text" autocomplete="off"/>
      </div>
    </div>

    {# plantillas_remitentes #}
    <div id="template_depto" class="card mb-3" style="display:none;">
      <div class="card-header">
        Departamento
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-3 text-muted"></h6>
        <a href="#" class="card-link delete-depto">Eliminar</a>
      </div>
    </div>

    <div id="template_persona" class="card mb-3" style="display:none;">
      <div class="card-header">
        Persona Natural
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-3 text-muted"></h6>
        <a href="#" class="card-link delete-persona">Eliminar</a>
      </div>
    </div>

    <div id="template_personanueva" class="card mb-3" style="">
      <div class="card-header">
        Nueva Persona Natural
      </div>
      <div class="card-body">
        <div class="form-group">
	    {{ form_row(personaForm.rut) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.nombres) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.apellidopaterno) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.apellidomaterno) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.fecha_nacimiento) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.sexo) }}
        </div>
        <div class="form-row">
          {{ form_label(personaForm.nombre_calle) }}
        </div>

        <div class="form-group form-row">
          <div class="col">
            {{ form_widget(personaForm.nombre_calle) }}
          </div>

          <div class="col-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">#</div>
              </div>

              {{ form_widget(personaForm.numdirec) }}
            </div>
          </div>
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.nombre_comuna) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.referenciadir) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.fono) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.fono_2) }}
        </div>
        <div class="form-group">
	    {{ form_row(personaForm.email) }}
        </div>
      </div>
    </div>
    {# fin plantillas_remitentes #}

    <div class="row">
      <div class="col-4"><h5>{{ form_label(nuevoForm.fkTipoDoc) }}</h5></div>
      <div class="col">
        {{ form_widget(nuevoForm.fkTipoDoc) }}
      </div>
    </div>

    <div class="row">
      <div class="col-4"><h5>{{ form_label(nuevoForm.nroExpediente) }}</h5></div>
      <div class="col">
        {{ form_widget(nuevoForm.nroExpediente) }}
      </div>
    </div>

    <div class="row">
      <div class="col-4"><h5>{{ form_label(nuevoForm.fechaDoc) }}</h5></div>
      <div class="col">
        {{ form_widget(nuevoForm.fechaDoc) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>{{ form_label(nuevoForm.ant) }}</h5>
        {{ form_widget(nuevoForm.ant) }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>{{ form_label(nuevoForm.mat) }}</h5>
	{{ form_widget(nuevoForm.mat) }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>{{ form_label(nuevoForm.ext) }}</h5>
	{{ form_widget(nuevoForm.ext) }}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5>Derivar a</h5>
        {{ form_row(derivarForm.originales) }}
        {{ form_row(derivarForm.nota_original) }}
        {{ form_row(derivarForm.copias) }}
        {{ form_row(derivarForm.nota_copias) }}
        {{ form_row(derivarForm.adjuntos) }}
      </div>
    </div>
  </div>
{{ form_end(nuevoForm) }}
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '../vendor/harvesthq/chosen/chosen.css'
    filter='cssrewrite'
    output='css/chosen.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
    '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
    output='css/fileinput.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  <style ttype="text/css">
    #data > div.row {
      margin-bottom: .5rem !important;
    }

    .twitter-typeahead {
      width: 100%;
    }

    .tt-suggestion:hover {
        background-color: #007bff;
        cursor: pointer;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../vendor/harvesthq/chosen/chosen.jquery.js'
    output='js/chosen.jquery.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
    output='js/fileinput.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
    output='js/theme.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
    output='js/fileinput-es.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_form_derivar.js'
    output='js/_form_derivar.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/twitter/typeahead.js/dist/typeahead.jquery.min.js'
    output='js/typeahead.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/twitter/typeahead.js/dist/bloodhound.min.js'
    output='js/bloodhound.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_editar.js'
    output='js/editar.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
