{% extends '::/Bandeja/layout2col.html.twig' %}

{% block page_title %}
<h2 class="col-4">Nuevo Documento</h2>
{% endblock %}

{% block filters %}
<div class="col"> 
  <button type="button" class="btn btn-primary">Guardar y Derivar</button>
  <button type="button" class="btn btn-secondary">Guardar</button>
</div>
{% endblock %}

{% block content %}
{{ form_start(nuevoForm) }}
  <div id="data" class="col">
    <div class="row">
      <div class="col-5"><h5>{{ form_label(nuevoForm.fkTipoDoc) }}</h5></div>
      <div class="col">
          {{ form_widget(nuevoForm.fkTipoDoc) }}
      </div>
    </div>

    <div class="row">
      <div class="col-5"><h5>Número Expediente</h5></div>
      <div class="col"><input class="form-control" type="number" min="1" name="nroexp" /></div>
    </div>

    <div class="row">
      <div class="col-5"><h5>Fecha Recepción</h5></div>
      <div class="col"><input class="form-control" type="date" name="f_recep" /></div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Antecedentes</h5>
        <textarea class="form-control" name="antecedentes" rows="4"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Materia</h5>
        <textarea class="form-control" name="materia" rows="4"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Expediente</h5>
        <textarea class="form-control" name="expediente" rows="4"></textarea>
      </div>
    </div>
  </div>
{{ form_end(nuevoForm) }}
  <div class="col">
    <div class="row">
      <div class="col">
        <h5>Derivar a</h5>
        {{ form_start(derivarForm) }}
        {{ form_end(derivarForm) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '../vendor/harvesthq/chosen/chosen.css'
    filter='cssrewrite'
    output='css/chosen.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
    '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
    output='css/fileinput.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <style ttype="text/css">
    #data > div.row {
      margin-bottom: .5rem !important;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../vendor/harvesthq/chosen/chosen.jquery.js'
    output='js/chosen.jquery.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
    output='js/fileinput.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
    output='js/theme.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
    output='js/fileinput-es.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_form_derivar.js'
    output='js/_form_derivar.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
