{% extends '::/Bandeja/layout.html.twig' %}

{% block page_title %}
<h2 class="">Bandeja Recibidos</h2>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '../vendor/harvesthq/chosen/chosen.css'
    filter='cssrewrite'
    output='css/chosen.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
    '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
    output='css/fileinput.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  <style type="text/css">
    .doc-pendiente {
      background-color: rgb(255, 248, 0, 0.1);
    }

    .doc-archivado {
      background-color: rgb(0, 123, 255, 0.1);
    }
  </style>
{% endblock %}

{% block searcher %}
  {% include 'BandejaBundle:Bandeja:buscador.html.twig' %}
{% endblock %}

{% block filters %}
  <form id="filters" class="collapse show">
    <div class="form-row">
      <div class="col-md-auto px-2">
        <div class="form-check">
	  <input class="form-check-input" type="radio" name="mostrar" id="pendientes" value="pendientes" />
	  <label class="form-check-label doc-pendiente px-2 py-1" for="pendientes">Pendientes</label>
        </div>

        <div class="form-check">
	  <input class="form-check-input" type="radio" name="mostrar" id="archivados" value="archivados"/>
	  <label class="form-check-label doc-archivado px-2 py-1" for="archivados">Archivados</label>
        </div>
      </div>
    
      <div class="col-md-auto px-3">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="limite" id="limite4" value="vencida" />
          <label class="form-check-label" for="limite4">
            <i class="fas fa-circle text-danger" >&nbsp;</i>Vencidos
          </label> 
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="limite" id="limite3" value="mas5" />
          <label class="form-check-label" for="limite3">
            <i class="fas fa-circle text-warning" >&nbsp;</i>&le; 5 días
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="limite" id="limite2" value="menos" />
          <label class="form-check-label" for="limite2">
            <i class="fas fa-circle text-success" >&nbsp;</i>&gt; 5 días
          </label>
        </div>
      </div>
    </div>
  </form>

  <div class="col">
    <div id="actions" class="row collapse">
      <button class="btn btn-primary mx-1" data-toggle="modal" data-target="#derivarModal">Derivar</button>
      <button type="button" class="btn btn-danger mx-1" data-toggle="modal" data-target="#archivarModal">Archivar</button>
      <button class="btn btn-danger mx-1">Desarchivar</button>
    </div>
  </div>

  {% include 'BandejaBundle:Bandeja:archivar.html.twig' %}

  {% include 'BandejaBundle:Bandeja:derivar.html.twig' %}

{% endblock %}

{% block pager %}
  {% include 'Bandeja/pager.html.twig' %}
{% endblock %}

{% block content %}
  {% include 'BandejaBundle:Bandeja:_table_documentos.html.twig' %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../vendor/harvesthq/chosen/chosen.jquery.js'
    output='js/chosen.jquery.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
    output='js/fileinput.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
    output='js/theme.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
    output='js/fileinput-es.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_table_documentos.js'
    output='js/_table_documentos.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_form_derivar.js'
    output='js/_form_derivar.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
