{% extends '::/Bandeja/layout.html.twig' %}

{% block page_title %}
<h2 class="">BANDEJA RECIBIDOS</h2>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '../vendor/harvesthq/chosen/chosen.css'
    filter='cssrewrite'
    output='css/chosen.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
    '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
    output='css/fileinput.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  <style type="text/css">
   .doc-pendiente {
       background-color: rgb(0, 123, 255, 0.1);
   }

   .doc-archivado {
       background-color: rgb(255, 193, 7, 0.1);
   }
  </style>
{% endblock %}

{% block searcher %}
    {% include 'BandejaBundle:Bandeja:buscador.html.twig' %}
{% endblock %}

{% form_theme filtersForm _self %}

{%- block choice_widget_expanded -%}
    {%- for child in form %}
	<div class="form-check" {{ block('widget_container_attributes') }}>
	    {{- form_widget(child, {'attr': {'class': 'form-check-input'}}) -}}
	    {{- form_label(child, null, {translation_domain: choice_translation_domain}) | raw -}}
	</div>
    {% endfor -%}
{%- endblock choice_widget_expanded -%}

{% block radio_widget %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
	{%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' form-check-label')|trim}) -%}
	{%- if label == 'Pendientes' -%}
	    {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' doc-pendiente px-2 py-1')|trim}) -%}
	{%- endif -%}
	{%- if label == 'Archivados' -%}
	    {%- set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' doc-archivado px-2 py-1')|trim}) -%}
	{%- endif -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|raw -}}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{% block filters %}
    {{ form_start(filtersForm, {'attr': { 'id': 'filters', 'class': 'collapse show'}}) }}
	<div class="form-row">
	    <div class="col-md-auto px-2">
		{{ form_widget(filtersForm.mostrar) }}
	    </div>
	    <div class="col-md-auto px-3">
		{{ form_widget(filtersForm.limite) }}
	    </div>
	</div>
    {{ form_end(filtersForm) }}

  <div class="col">
    <div class="row">
      <div id="actions" class="collapse">
        <button class="btn btn-primary" data-toggle="modal" data-target="#derivarModal">Derivar</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#archivarModal">Archivar</button>
        <button class="btn btn-warning">Desarchivar</button>
      </div>
    </div>
  </div>

  {% include 'BandejaBundle:Bandeja:archivar.html.twig' %}

  {% include 'BandejaBundle:Bandeja:derivar.html.twig' %}
{% endblock %}

{% block pager %}
  {% include 'Bandeja/pager.html.twig' with {'menu_op': menu_op, 'page': page, 'max_page': max_page} %}
{% endblock %}

{% block content %}
  {% include 'BandejaBundle:Bandeja:_table_documentos.html.twig' with {'documentos': documentos} %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../vendor/harvesthq/chosen/chosen.jquery.js'
    output='js/chosen.jquery.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
    output='js/fileinput.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
    output='js/theme.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
    output='js/fileinput-es.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_table_documentos.js'
    output='js/_table_documentos.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_form_derivar.js'
    output='js/_form_derivar.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

<script type="text/javascript">
$(document).ready( function() {
   $('#pendientes, #archivados, input[name="limite"]').click( function() {
       $('form[name="filter"]').submit();
   });
});
</script>
{% endblock %}
