{% extends 'BandejaBundle:Bandeja:layout2col.html.twig' %}

{% set lastKeyDer = documento.derivaciones|length - 1 %}

{% block page_title %}
  <h2 class="">
    <strong>
      ID-DOC N° {{ documento.idDoc }}
      {% if derivacion.nota %}
	<a href="#note" class="text-danger" data-toggle="modal" data-target="#notaModal"><i class="fas fa-sticky-note"></i></a>
      {% endif %}
    </strong>
  </h2>

  <div class="modal fade" id="derivacionesModal" tabindex="-1" role="dialog" aria-labelledby="example2ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
	<div class="modal-header">
          <h5 class="modal-title" id="example2ModalLabel">Historial de Derivaciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
	</div>
	<div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Remitente</th>
                <th scope="col">Destino</th>
              </tr>
            </thead>
            <tbody>
              {% for d in cardex %}
                <tr>
                  <td scope="row">{% if d.tipo == 1 %}Original{% else %}Copia{% endif %}</td>
                  <td>{{ d.fechaC | date('d/m/Y H:i') }}</td>
                  <td><strong>{{ d.fkDeptorem.descripcion }}</strong> <small class="text-muted">{{ d.fkRemitente.nombre }}</small></td>
                  <td><strong>{{ d.fkDeptodes.descripcion }}</strong> <small class="text-muted">{{ d.fkDestinatario.nombre }}</small></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
	<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	</div>
      </div>
    </div>
  </div>

  {% include 'BandejaBundle:Bandeja:nota.html.twig' with {'nota': derivacion.nota} %}
{% endblock %}

{% block filters %}
  {# 0=ARCHIVADO, 1=NORMAL, 2=PORRECIBIR #}
  {% if documento.estado == 1 %}
    <button type="submit" class="btn btn-primary" form="derivar" name="guardar" value="derivar">Guardar y Derivar</button>
  {% endif %}

  {% if not documento %}
    <button type="submit" class="btn btn-secondary" form="derivar" name="guardar" value="guardar">Solo Guardar</button>
  {% endif %}

  {% if documento.estado == 1 %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#archivarModal">Archivar</button>

    {% include 'BandejaBundle:Bandeja:archivar.html.twig' with {'archivarForm': archivarForm} %}
  {% elseif documento.estado == 0 %}
    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#desarchivarModal">Desarchivar</button>

    {% include 'BandejaBundle:Bandeja:desarchivar.html.twig' with {'desarchivarForm': desarchivarForm} %}
  {% elseif documento.estado == 2 and derivacion.fkDeptodes.idDepartamento == app.session.get('departamento').idDepartamento %}
    {{ dump(derivacion) }}
    {{ form_start(recibirForm, {'attr': {'id': 'recibir'}}) }}
    {{ form_end(recibirForm) }}
  {% elseif documento.estado == 2 and derivacion.fkDeptorem.idDepartamento == app.session.get('departamento').idDepartamento %}
    <button type="submit" class="btn btn-primary" form="derivar" name="guardar" value="derivar">Guardar y Derivar</button>
  {% endif %}
{% endblock %}


{% block content %}
  <div id="data" class="row">
    <div class="col">
      <div class="row">
	<div class="col-5"><h5>Remitente</h5></div>
	<div class="col"><b>{{ personaDoc.rut }}-{{ personaDoc.vrut }} {{ personaDoc.nombres }} {{ personaDoc.apellidopaterno }} {{ personaDoc.apellidomaterno }}</b></div>
      </div>
      <div class="row">
	<div class="col-5"><h5>Fecha de Envío</h5></div>
	<div class="col">{{ documento.fechaDoc|date('d/m/Y') }}</div>
      </div>
      <div class="row">
	<div class="col-5"><h5>Tipo Documento</h5></div>
	<div class="col">{{ documento.fkTipoDoc.descripcion }}</div>
      </div>
      <div class="row">
	<div class="col-5"><h5>Número Expediente</h5></div>
	<div class="col">{% if not documento.nroExpediente %}<span class="text-muted">Sin n° de expediente</span>{% else %}<b>{{ documento.nroExpediente }}</b>{% endif %}</div>
      </div>
      <div class="row">
	<div class="col-5"><h5>Fecha Recepción</h5></div>
	<div class="col">{{ documento.derivaciones[lastKeyDer].fechaC|date('d/m/Y') }}</div>
      </div>
      <div class="row">
	<div class="col">
          <h5>Antecedentes</h5>
          <p class="text-justify" style="text-indent: 1em;">{% if not documento.ant %}<span class="text-muted">Sin antecedentes</span>{% else %}{{ documento.ant }}{% endif %}</p>
	</div>
      </div>
      <div class="row">
	<div class="col">
          <h5>Materia</h5>
          <p class="text-justify" style="text-indent: 1em;">{% if not documento.mat %}<span class="text-muted">Sin materia</span>{% else %}{{ documento.mat }}{% endif %}</p>
	</div>
      </div>
      <div class="row">
	<div class="col">
          <h5>Extracto</h5>
          <p class="text-justify" style="text-indent: 1em;">{% if not documento.ext %}<span class="text-muted">Sin extracto</span>{% else %}{{ documento.ext }}{% endif %}</p>
	</div>
      </div>
      {% if adjuntos is not empty %}
	<div class="row">
	  <div class="col">
            <h5>Archivos Adjuntos</h5>
	    <ul class="list-unstyled components">
	      {% for file in adjuntos %}
		<li><a href="{{ url('descargar_bandeja', {'id': file.idAdjunto}) }}">{{ file.nombreOriginal }}</a></li>
              {% endfor %}

            </ul>
	  </div>
	</div>
      {% endif %}
    </div>

    <div class="col">
      {% if cardex %}
      <div class="row">
        <div class="col text-right">
          <a href="#derivaciones" class="" data-toggle="modal" data-target="#derivacionesModal">Cardex</a>
        </div>
      </div>
      {% endif %}

      <div class="row">
	<div class="col"{% if documento.estado == 0 %} style="display: none;"{% endif %}>
	  {% if documento.estado == 1
	  or documento.estado == 2 and derivacion.fkDeptorem.idDepartamento == app.session.get('departamento').idDepartamento %}
            <h5>Derivar a</h5>
            {{ form_start(derivarForm, {'attr': {'id': 'derivar', 'enctype': 'multipart/form-data'}}) }}
            {{ form_end(derivarForm) }}
	  {% endif %}
	</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
  '../vendor/harvesthq/chosen/chosen.css'
  filter='cssrewrite'
  output='css/chosen.css'
  combine=true %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
  '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
  output='css/fileinput.css'
  combine=true %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <style ttype="text/css">
   #data > div.row {
     margin-bottom: .5rem !important;
   }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
  '../vendor/harvesthq/chosen/chosen.jquery.js'
  output='js/chosen.jquery.js'
  combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
  '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
  output='js/fileinput.min.js'
  combine=true %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
  '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
  output='js/theme.min.js'
  combine=true %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
  '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
  output='js/fileinput-es.js'
  combine=true %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
  '../src/BandejaBundle/Resources/js/_form_derivar.js'
  output='js/_form_derivar.js'
  combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript">
   $(document).ready( function() {
     $('button[form="derivar"]').click( function() {
       return confirm("¿Esta seguro que desea derivar este documento?");
     });

     $('#recibir').submit( function() {
       return confirm('¿Esta seguro que desea recibir este documento?');
     });

     $('#archivar').submit( function() {
       return confirm('¿Esta seguro que desea archivar este documento?');
     });

     $('#desarchivar').submit( function() {
       return confirm('¿Esta seguro que desea desarchivar este documento?');
     });

   });
  </script>
{% endblock %}
