{% extends '::/Bandeja/layout2col.html.twig' %}

{% block page_title %}
<h2 class="">
  ID-DOC N° {{ documento.idDoc }}
  <a href="#note" class="text-danger" data-toggle="modal" data-target="#notaModal"><i class="fas fa-sticky-note"></i></a>
</h2>
{% include 'BandejaBundle:Bandeja:nota.html.twig' %}
{% endblock %}

{% block filters %}
{# 0=ARCHIVADO, 1=NORMAL, 2=PORRECIBIR #}
<div class="">
  {% if documento.estado != 0 %}
  <button type="button" class="btn btn-primary">Guardar y Derivar</button>
  <button type="button" class="btn btn-secondary">Solo Guardar</button>
  {% endif %}

  {% if documento.estado == 1 %}
  <button type="button" class="btn btn-danger">Archivar</button>
  {% elseif documento.estado == 0 %}
  <button type="button" class="btn btn-warning">Desarchivar</button>
  {% elseif documento.estado == 2 %}
  <button type="button" class="btn btn-success">Recibido</button>
  {% endif %}
</div>
{% endblock %}


{% block content %}
<div id="data" class="row">
  <div class="col">
    <div class="row">
      <div class="col-5"><h5>Remitente</h5></div>
      <div class="col"><b>{{ documento.fkRutPersona.rut }}-{{ documento.fkRutPersona.vrut }} {{ documento.fkRutPersona.nombres }} {{ documento.fkRutPersona.apellidopaterno }} {{ documento.fkRutPersona.apellidomaterno }}</b></div>
    </div>
    <div class="row">
      <div class="col-5"><h5>Fecha de Envío</h5></div>
      <div class="col">{{ documento.fechaDoc | date('d/m/Y') }}</div>
    </div>
    <div class="row">
      <div class="col-5"><h5>Tipo Documento</h5></div>
      <div class="col">{{ documento.fkTipoDoc.descripcion }}</div>
    </div>
    <div class="row">
      <div class="col-5"><h5>Número Expediente</h5></div>
      <div class="col">{% if not documento.nroExpediente %}Sin n° de expediente{% else %}<b>{{ documento.nroExpediente }}</b>{% endif %}</div>
    </div>
    <div class="row">
      <div class="col-5"><h5>Fecha Recepción</h5></div>
      <div class="col">01/01/1970</div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Antecedentes</h5>
        <p class="text-justify">{% if not documento.ant %}Sin antecedentes{% else %}{{ documento.ant }}{% endif %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Materia</h5>
        <p class="text-justify">{% if not documento.mat %}Sin materia{% else %}{{ documento.mat }}{% endif %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Extracto</h5>
        <p class="text-justify">{% if not documento.ext %}Sin extracto{% else %}{{ documento.ext }}{% endif %}</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col">
        <h5>Derivar a</h5>
        {{ form_start(derivarForm) }}
        {{ form_end(derivarForm) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
    '../vendor/harvesthq/chosen/chosen.css'
    filter='cssrewrite'
    output='css/chosen.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  {% stylesheets
    '../vendor/kartik-v/bootstrap-fileinput/css/fileinput.css'
    output='css/fileinput.css'
    combine=true %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
  <style ttype="text/css">
    #data > div.row {
      margin-bottom: .5rem !important;
    }
  </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
    '../vendor/harvesthq/chosen/chosen.jquery.js'
    output='js/chosen.jquery.js'
    combine=true %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/fileinput.min.js'
    output='js/fileinput.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/themes/fas/theme.min.js'
    output='js/theme.min.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../vendor/kartik-v/bootstrap-fileinput/js/locales/es.js'
    output='js/fileinput-es.js'
    combine=true %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  {% javascripts
    '../src/BandejaBundle/Resources/js/_form_derivar.js'
    output='js/_form_derivar.js'
    combine=true %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
