{% if max_page >= 3 %}
  {% if page == 1 %}
    {% set pages = range(page, page + 2) %}
  {% elseif page == max_page %}
    {% set pages = range(max_page - 2, max_page) %}
  {% else %}
    {% set pages = range(page - 1, page + 1) %}
  {% endif %}
{% else %}
  {% set pages = range(1, max_page) %}
{% endif %}

<nav arial-label="Paginador col">
  <ul class="pagination">
    <li class="page-item{% if page == 1 %} disabled{% endif %}"><a class="page-link" href="{{ url(menu_op ~ '_bandeja' ) }}/{{ page - 1 }}">Anterior</a></li>
{% for p in pages %}
    <li class="page-item{% if p == page %} active{% endif %}"><a class="page-link" href="{{ url(menu_op ~ '_bandeja' ) }}\{{ p }}">{{ p }}</a></li>
{% endfor %}
    <li class="page-item{% if page == max_page %} disabled{% endif %}"><a class="page-link" href="{{ url(menu_op ~ '_bandeja' ) }}/{{ page + 1 }}">Siguiente</a></li>
  </ul>
</nav>
